@import url("./another.css");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  scrollbar-color: #8e8e8e #fff;
  scrollbar-width: thin;
  color: var(--primary-text-color);
}
:root {
  --primary-text-color: #2d2e32;
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden !important;
}
a,
a:visited {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: #147efb;
}
button {
  cursor: pointer;
}
ul {
  list-style: none;
}

.header {
  height: 80px;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
  padding: 25px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .title {
  font-size: 20px;
  cursor: pointer;
}

.header ul {
  display: flex;
  align-items: center;
}

.header ul li {
  margin-right: 20px;
  font-weight: 600;
  font-size: 17px;
}
.header .menu {
  background-color: transparent;
  width: 23px;
  height: 23px;
  border: none;
  display: none;
}
.header .menu svg {
  background-color: transparent;
  width: 23px;
  height: 23px;
}
.header .menu:hover {
  background-color: transparent;
  fill: #147efb;
}
.header .panel {
  position: fixed;
  z-index: 10;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  top: 0px;
  transition: 0.3s ease-in-out all;
  left: -100vw;
}
.header .panel.active {
  left: 0px;
  transition: 0.3s ease-in-out left;
}

.panel {
  display: flex;
  justify-content: center;
  align-items: center;
}
.panel ul {
  flex-direction: column;
}
.panel ul li {
  font-size: 23px !important;
  margin-bottom: 2rem;
  font-weight: 500;
}

.panel .close {
  background-color: transparent;
  position: absolute;
  right: 3rem;
  top: 2rem;
  border: none;
  width: 2rem;
  height: 2rem;
}
.panel .close svg {
  width: 100%;
  height: 100%;
}
.panel .close svg:hover {
  fill: #147efb;
}
#home {
  display: flex;
  justify-content: center;
  background-color: #f9f9f9;
  padding-top: 80px;
  min-height: 100vh;
}

#home .content .upside {
  max-width: 1100px;
  width: 100%;
  padding: 4rem 4rem 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 900px) {
  .header .nav {
    display: none;
  }
  .header .menu {
    display: block;
  }
  #home .content .upside {
    flex-direction: column-reverse;
    text-align: center;
  }
  #home .content .pp {
    margin-bottom: 4rem;
  }
  #home .content .text p {
    width: 100% !important;
  }
  #home .content .icons {
    justify-content: center;
  }
  #home .content .skills {
    flex-direction: column;
  }
  #home .content .skills p {
    padding: 0px !important;
    margin: 0px !important;
    border: none !important;
    border-bottom: 2px solid #2d2e3280 !important;
    padding-bottom: 10px !important;
    margin-bottom: 1rem !important;
  }
  #about .content {
    flex-direction: column !important;
    text-align: center;
  }
  #about .content .text {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #about .content img {
    max-width: 350px !important;
    width: 100% !important;
    margin: 0px !important;
    margin-bottom: 2rem !important;
  }
  #projects .projects li {
    height: calc(100vw - 8rem) !important;
    flex-direction: column;
    align-items: center;
    min-height: 500px !important;
  }
  #projects .projects li .text {
    min-width: 0px !important;
    max-width: 449px !important;
    width: calc(100% - 2rem) !important;
  }

  #projects .projects li img {
    width: 100% !important;
    margin: 0px !important;
    height: initial !important;
    aspect-ratio: 16/9 !important;
  }
}
#home .content .text {
  max-width: 500px;
  width: 100%;
}
#home .content .text p {
  font-size: 18px;
  width: 80%;
  font-family: "Mulish", sans-serif;
  color: var(--secondary-text-color);
  line-height: 28px;
}

#home .content .text h1 {
  font-size: 3.5rem;
  line-height: 65px;
  margin-bottom: 2rem;
}
#home .content .text .hand {
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-left: 1rem;
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}
@media screen and (max-width: 650px) {
  html {
    font-size: 14px !important;
  }
}
@media screen and (max-width: 550px) {
  html {
    font-size: 12px !important;
  }
}
#home .content .pp {
  max-width: 350px;
  max-height: 350px;
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
  background-image: url("./public/my.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  background-size: 350px;
  animation: morph 8s ease-in-out infinite;
  border: 3px solid var(--primary-text-color);
}

#home .content .upside .icons {
  display: flex;
  margin-top: 2rem;
}
#home .content .upside .icons li {
  margin-right: 10px;
}
#home .content .upside .icons svg:hover {
  fill: #147efb;
}

#home .content .skills {
  width: 100%;
  max-width: 1100px;
  padding: 4rem;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

#home .content .skills p {
  font-size: 17px;
  white-space: nowrap;
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  border-right: 2px solid #2d2e3280;
  width: fit-content;
  padding-right: 1rem;
  margin-right: 3rem;
}

#home .content .skills ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
}
#home .content .skills li {
  transition: 0.1s ease-in-out all;
  width: 65px;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  border-radius: 100%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
  cursor: pointer;
  margin-right: 2rem;
}
#home .content .skills li:active {
  transform: scale(0.85);
}
#home .content .skills li img {
  width: 34px;
  height: 34px;
}
#about {
  display: flex;
  width: 100%;
  justify-content: center;
}
#about .content {
  width: 100%;
  max-width: 1100px;
  display: flex;
  padding: 8rem 4rem;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

#about img {
  width: 50%;
  height: 100%;
  max-width: 400px;
  object-fit: cover;
  border-radius: 1rem;
  margin-right: 4rem;
}

#about .text {
  width: 100%;
}
#about .text h1 {
  font-size: 17px;
  color: #147efb;
  margin-bottom: 1rem;
}
#about .text h2 {
  font-size: 1.5rem;
  max-width: 450px;
  width: 100%;
  line-height: 2rem;
  margin-bottom: 1rem;
}
#about .text p {
  font-size: 17px;
  font-weight: 400;
  font-family: "Mulish", sans-serif;
  color: #767676;
  line-height: 25px;
}

#projects {
  background-color: #f9f9f9;
  width: 100%;
  display: flex;
  justify-content: center;
}
#projects .content {
  width: 100%;
  max-width: 1100px;
  padding: 4rem;
}
#projects .content .title {
  margin-bottom: 2rem;
}
#projects .content .projects li {
  display: flex;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.3s ease-in-out box-shadow;
  height: 285.12px;
  width: 100%;
  background-color: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
  overflow: hidden;
  aspect-ratio: 16/9;
}
#projects .content .projects li:hover {
  box-shadow: 0 0 10px #147efbb3;
}
#projects .content .projects li img {
  width: calc(50vw - 8rem);
  height: 285.12px;
  object-fit: cover;
  margin-right: 1rem;
  min-height: 200px;
}
#projects .content .projects li .text {
  padding: 1rem;
  text-align: center;
  display: flex;
  min-width: 449px;
  width: 449px;
  flex-direction: column;
  justify-content: space-between;
}

#projects .content .projects li .text h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  line-height: 2rem;
}

#projects .content .projects li .text .desc {
  font-size: 16px;
  color: #767676;
  font-family: "Mulish", sans-serif;
  margin-bottom: 8px;
}
#projects .content .projects li .text .tags {
  display: flex;
  justify-content: center;
  margin: 2rem 0px;
}
#projects .content .projects li .text .tags p {
  margin-right: 10px;
  font-weight: 700;
  color: #000;
  font-family: "Poppins", sans-serif;
}
#projects .content .projects li .text .icons {
  display: flex;
  justify-content: center;
}
#projects .content .projects li .text .icons a {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
}
#projects .content .projects li .text .icons svg {
  width: 2rem;
  height: 2rem;
}
#projects .content .projects li .text .icons .code {
  margin-right: 2rem;
}
#projects .content .projects li .text .icons a:hover p {
  color: #147efb;
}
#projects .content .projects li .text .icons a:hover svg {
  fill: #147efb;
}

#projects .content .projects li .text .icons p {
  margin-right: 10px;
}

#contact {
  width: 100%;
  display: flex;
  background-color: #fff;
  justify-content: center;
}

#contact .content {
  max-width: 1100px;
  padding: 4rem;
  width: 100%;
}
#contact .content h1 {
  color: #147efb;
  font-size: 17px;
  margin-bottom: 10px;
}
#contact .content h2 {
  font-size: 25px;
}
#contact .content .boxs {
  margin-top: 60px;
  display: flex;
  align-items: center;
}

.boxs {
  display: flex;
  align-items: center;
}

.b {
  min-width: 77px;
  min-height: 77px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.b img {
  width: 2rem;
  height: 2rem;
}

.box {
  display: flex;
  align-items: center;
}

.textx p {
  font-size: 17px;
  font-weight: 700;
  white-space: nowrap;
}
.textx p.m {
  color: #767676;
  font-weight: 400;
  cursor: pointer;
}
.textx p.m:hover {
  color: #147efb;
}

#footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #2d2e32;
}

#footer .content {
  max-width: 1100px;
  width: 100%;
  padding: 50px 40px;
  display: flex;
  justify-content: space-between;
}

#footer .content p,
span {
  color: #fff !important;
  font-weight: 700;
  font-size: 17px;
}

#footer .content div {
  display: flex;
}
#footer .content div svg {
  width: 2rem;
  fill: #fff;
  transition: 0.3s ease-in-out all;
  margin-right: 1rem;
}
#footer .content div svg:hover {
  transform: scale(1.1);
}
